
<h2>Parks</h2>
<input id="search" type="text" />
<hr />
<div id="target">
    @foreach (var park in ViewBag.Data)
    {
        <h4>@park.Parkname</h4>
        <p><i>Borough: </i>@park.Borough</p>
        <p><i>Acres: </i>@park.Acres</p>
        <p><i>Description: </i>@Html.Raw(park.Description)</p>
    }

</div>

<script>
    let search = document.querySelector("#search");
    let target = document.querySelector("#target");

    search.addEventListener("keyup", () => {

        let query = search.value.trim();
        if (query != "") {
            fetch('/park?filter=' + query)
                .then(response => response.json())
                .then(data => {

                    target.innerHTML = "";

                    displayParkInfoFromJson(data);

                });
        }
        
        function displayParkInfoFromJson(data) {

            for (let obj of data) {

                let h = document.createElement("h4");
                h.textContent = obj.parkname;
                target.appendChild(h);

                let p = document.createElement("p");
                p.innerHTML = "<i>Borough: </i>" + obj.borough;
                target.appendChild(p);

                p = document.createElement("p")
                p.innerHTML = "<i>Acres: </i>" + obj.acres;
                target.appendChild(p);

                p = document.createElement("p")
                p.innerHTML = "<i>Description: </i>" + obj.description;
                target.appendChild(p);
            }

        }
    });
</script>