<h2>Parks</h2>
<form method="get">
    <input name="search" type="text" />
    <button type="submit">Search</button>
</form>
<hr />

@foreach (var park in ViewBag.data)
{
    <h4>@park.Parkname</h4>
    <p><i>Borough: </i>@park.Borough</p>
    <p><i>Acres: </i>@park.Acres</p>
    <p><i>Description: </i>@Html.Raw(park.Description)</p>
    
}